# Windows
desktop.ini
Thumbs.db

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc

.env
.env.*
**/.env

secrets/
*.json


secrets_gcal/
secrets/
*.json


.env
.env.*
secrets/
secrets_gcal/
*.json
.venv/
__pycache__/
*.pyc

